

      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-linkedin"></i>
          </button>
        </div>
          </div>
          </div>
      </footer>
      
