{% extends "layouts/base.html" %}
{% load static %}
{% block title %} UI Icons {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Nomenclador1</h5>
                    <p class="category">descripcion <a href="">Configurar</a></p>
                </div>
                <div class="card-body">
                    <img src="{% static "assets/img/mike.jpg" %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Nomenclador1</h5>
                    <p class="category">descripcion <a href="">Configurar</a></p>
                </div>
                <div class="card-body">
                    <img src="{% static "assets/img/mike.jpg" %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Nomenclador1</h5>
                    <p class="category">descripcion <a href="">Configurar</a></p>
                </div>
                <div class="card-body">
                    <img src="{% static "assets/img/mike.jpg" %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Nomenclador1</h5>
                    <p class="category">descripcion <a href="">Configurar</a></p>
                </div>
                <div class="card-body">
                    <img src="{% static "assets/img/mike.jpg" %}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Nomenclador1</h5>
                <p class="category">descripcion <a href="">Configurar</a></p>
            </div>
            <div class="card-body">
                <img src="{% static "assets/img/mike.jpg" %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Nomenclador1</h5>
                <p class="category">descripcion <a href="">Configurar</a></p>
            </div>
            <div class="card-body">
                <img src="{% static "assets/img/mike.jpg" %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Nomenclador1</h5>
                <p class="category">descripcion <a href="">Configurar</a></p>
            </div>
            <div class="card-body">
                <img src="{% static "assets/img/mike.jpg" %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Nomenclador1</h5>
                <p class="category">descripcion <a href="">Configurar</a></p>
            </div>
            <div class="card-body">
                <img src="{% static "assets/img/mike.jpg" %}"/>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
